<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="S_T_Report.Properties.Settings.STAutoConnectionString"
            connectionString="Data Source=WORKING;Initial Catalog=STAuto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>